
body{
    display: grid;
    padding: 5px;
    grid-template-rows: 4; /* 4 rows with equal height */
    grid-gap: 10px; /* Optional: gap between grid items */
} 

body header {
  background-color: red;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
}

nav {
  order: 1; /* Move the navigation to the left */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}



.grid1 {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide the row into two equal-width columns */
  gap: 10px;
}

.column {
  padding: 10px;
  text-align: center;
}
.grid1 .card {
    width: 200px;
    height: 300px;
    display: flex;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
.card img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

